body{
    background-color: burlywood;
}

#fonte{
    font-family: cursive;
}

h1{
    background-color: blueviolet;
}

img{
    display: block;
    margin: auto;
}

table td{
    border: 1px solid red;
}

.negrito{
    font-weight: bold;
}